/* Import the google fonts I want to use */
@import url('https://fonts.googleapis.com/css?family=Bitter:700|Montserrat|Raleway');

/* Settings for the body */
body {
  width: 100%;
  background-color: #A4D4FF;
}

/* Settings for my name */
.name {
  margin-top: 50vh;
}
.theName {
  font-family: 'Bitter';
  font-size: 4vw;
  color: white;
  text-align: center;
  text-shadow: -1px 0 #f0ece1, 0 1px #f0ece1, 1px 0 #f0ece1, 0 -1px #f0ece1;
  z-index: 1000;
}
.theName:hover {
  opacity: 0.5;
}
/* Settings for the clouds */
.cloud1 {
  color: white;
  position: absolute;
  font-size: 3vw;
  opacity: 0.7;
  -webkit-transform: scale(5, 2);
  /* Make the edges more blurry */
  background: -webkit-radial-gradient(white 30%, transparent 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cloud2 {
  color: white;
  position: absolute;
  font-size: 1vw;
  opacity: 0.5;
  /* Scale the cloud to be larger */
  -webkit-transform: scale(15,10);
  /* Make the edges more blurry */
  background: -webkit-radial-gradient(white, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
